.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
  /*background-color: #888D93 ;*/

  background-image: url("images/back.jpg");

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background-image: url("images/nav.jpg");
  width: 100%;
  margin-bottom: 30px;
  height: 45px;

}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  text-align: center;
  font-family: sail;
  font-size: 36px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  text-align: center;

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.my-container {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: -3px -3px 9px;
  /*float: left;*/
  display: inline-block;
  /*max-width: 600px;*/
  padding-left: 0;
  padding-right: 0;
  /*margin-right: 10px;*/
  margin-left: 30px;
}

/*@media screen and (min-width: 320px) {*/
/*.container {*/
/*max-width: 300px;*/
/*background-color: lightgray;*/
/*border-radius: 3px;*/
/*}*/

/*.header,*/
/*.marketing,*/
/*.footer {*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*}*/

/* Remove the padding we set earlier */
/*.header,*/
/*.marketing,*/
/*.footer {*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*}*/

/* Space out the masthead */
/*.header {*/
/*margin-bottom: 30px;*/
/*}*/

/* Remove the bottom border on the jumbotron for visual effect */
/*.jumbotron {*/
/*border-bottom: 0;*/
/*}*/

/*}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
/*.container {*/
/*max-width: 730px;*/
/*}*/

/* Remove the padding we set earlier */
/*.header,*/
/*.marketing,*/
/*.footer {*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*}*/

/* Space out the masthead */
/*.header {*/
/*margin-bottom: 30px;*/
/*}*/

/* Remove the bottom border on the jumbotron for visual effect */
/*.jumbotron {*/
/*border-bottom: 0;*/
/*}*/

/*}*/

input[type=checkbox] {
  width: 30px height : 30 px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 15px;
}

.tags {
  float: right;
  padding: 10px;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #6fff46;
  display: inline-block;
  visibility: visible;

}

input[type=checkbox]:checked:after {
  content: "\2714";

}

ul {
  list-style-type: none;
}

.listBtn {
  cursor: pointer;
}

/*#notify{
   position: absolute;
    margin:20px 20px 0 0;
    right: 0;
    top:0;
}*/

#todo_list li {
  border-bottom: 1px solid darkgrey;
  padding: 7px;
  width: 100%;
  color: #000000;
}

#todo_list a {
  color: #000000;
}

h4 {
  display: inline-block;
  padding-right: 20px;

}

#category {
  border-radius: 3px;
  padding: 5px 10px;
  height: 30px;
  margin: 5px;
  width: 210px;
  background-color: transparent;

}

#category option {
  background-color: gray;
}

.modify {
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

form input[type='radio'] {
  width: 20px;
  height: 20px;
  margin: 5px;

}

/*#add {*/
  /*border-radius: 7px;*/
  /*color: white;*/
  /*background-color: #404040;*/
  /*margin: 5px;*/
  /*float: right;*/

/*}*/

.my_glyphicon {
  color: white;
  padding: 10px;
  float: right;
  cursor: pointer;

}

/*meniu vertical*/

.my-navbar {
  float: left;
  border: none;
  background-color: transparent;
  position: relative;
  margin: 10px;
}

/*.my-navbar .nav-div ul li a {*/
/*color: white;*/
/*background-color: transparent;*/
/*font: bold;*/

/*}*/

.nav-header a {
  color: white;
}

.nav-div ul li {
  height: 40px;
  float: none;
  width: 220px;
  /*opacity: 0.8;*/
  background-image: url("images/menu.jpg");
  box-shadow: inset 0px 0px 2px #333;
  color: white;
  font: 16px Arial, serif;
  border-style: hidden;

}

.my-navbar .nav-header .navbar-title {
  color: white;
  height: 30px;
  text-align: center;
  margin-left: 0px;

}

/*.my-navbar .nav-div ul li:nth-child(1) {*/
/*border-radius: 10px;*/
/*margin-top: 15px;*/
/*margin-bottom: 10px;*/

/*}*/

.my-navbar .nav-div ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  border-bottom: 0;
  /*padding: 10px;*/
  cursor: pointer;

}

.my-navbar .nav-div ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  /*padding: 10px;*/
  cursor: pointer;

}

/*.my-navbar .nav-div ul li:nth-child(5) {*/
  /*border-radius: 10px;*/
  /*margin-bottom: 10px;*/
/*}*/

.my-navbar .nav-div ul li:active {
  /*background-color: rgba(0, 0, 0, 0.4);*/
  background-image: url("images/active.jpg");
  color: white;
}

.btn-navbar {
  background-color: #ffffff;

}

.my-menu {
  background-color: transparent;
}

.my-navbar .nav-tag > .open > a,
.my-navbar .nav-tag > .open > a:hover,
.my-navbar .nav-tag > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}

.span_title {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  float: left;
  margin-left: 30%;
  padding: 10px;
}

.setOpacity {
  opacity: 0.5;
}

.notOpacity {
  opacity: 1;
}

.li-label {
  margin: 10px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.my-cog {
  color: #ffffff;

}

.remove {
  cursor: pointer;
  float:right;

}
#todo_list.newStyle{
  padding-top: 70px;
}

.btnCategory{
  margin-left: 20px;
}
.liStyle{
  padding: 11px;
  cursor: pointer;

}
.removeCategory{
  cursor:pointer;
  float:right;
  padding: 10px;
}

.modifyCategory{
  float: right;
  padding:10px 5px 10px 10px;

}
.btnCategory{
  cursor: pointer;
}
